@media screen and (max-width: 786px) {
  .form{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #3D3B39;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    padding-top: 2em;
  }
  
  .form_input{
    margin-top: 0.5em;
    color: white;
    padding: 0.5em;
    background-color: #3D3B39;
    border: none;
    min-height: 50px;
    border-radius: 7.5px;
    box-shadow: 0 5px 4px 0px #1d1c1a4f;
  }
  
  .card{
    background-color: #222121;
    height: 100%;
    width: 30vw;
    min-width: 400px;
    min-height: 600px;
    border-radius: 12px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   
    }

    .form_collection{
      width: 100%;
      padding: 1em;
      display: flex;
      flex-direction: column;

     
    }

    label{
      color: rgb(213, 213, 213);
      font-size: larger;
    }

  .form_submit{
    background-color: #1B9516;
    border: none;
    border-radius: 12px;
    color: white;
    min-height: 50px;
    width: 150px;
    width: 80%;
    margin: auto;
  }

  .pw_recover{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
   
  }


}


@media screen and (min-width: 786px) {
  .form{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #3D3B39;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top:4em;
    height: 100%;
  }
  
  .form_input{
    margin-top: 0.5em;
    color: white;
    padding: 0.5em;
    background-color: #3D3B39;
    font-size: large;
    border: none;
    min-height: 50px;
    border-radius: 7.5px;
    box-shadow: 0 5px 4px 0px #1d1c1a4f;
  }

  .form_collection{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
  }

  
  label{
    color: rgb(213, 213, 213);
    font-size: larger;
  }

  .form_submit{
    background-color: #1B9516;
    border: none;
    border-radius: 12px;
    color: white;
    min-height: 50px;
    width: 150px;
    width: 80%;
    margin: auto;
  }

  .pw_recover{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
  }

  
  .card{
    background-color: #222121;
    height: 90%;
    width: 30vw;
    min-width: 400px;
    min-height: 600px;
    border-radius: 12px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h3{
    color: rgb(213, 213, 213);
    font-size: larger;
  }

  h3{
    font-size: larger;
    color: rgb(213, 213, 213);
    margin-bottom: 1em;
    margin-top: 1em;
  }

  hr{
    width: 90%;
    color: rgb(213, 213, 213);
  }

  .social_login{
    height: 30%;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;

  }

  button{
    height: 50px;
    width: 90%;
    margin-top: 1em;
    background-color: #111111;
    border: none;
    border-radius: 12px;
    color: white;
  }
}