.contentNav{
    background-color: #303030;
}

.contentList{
    width: 100%;
}

.contentTitle{
    background-color: rgb(17, 17, 17);
    padding: 1em;
    color: white;
    font-size: large;
    font-weight: 500;
}

.content_item{
    height:7vh;
    padding: 1em;
    padding-left: 1.4em;
    color: rgba(255, 255, 255, 0.551);
    border-bottom: 1px solid rgba(255, 255, 255, 0.204);
}