.skillBox{
    border: 1px solid rgba(255, 255, 255, 0.299);
    background: linear-gradient(
        to right, #8015ea79, #9944ee89, #3b313b84);
    padding: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.7s;
    border:none;
    border-radius: 15px;
}

.skillBox:hover{
    transform: scale(0.95);
}

.skillIcon{
    filter:brightness(0) invert(1);
    border-radius: 0;
    height: 8vh;
}

.skillTitle{
    color: white;
    font-size: large;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
}

@media screen and (max-width: 1024px){
    .skillIcon{
        height: 10vh;
    }
}