.skillBox{
    border: 1px solid rgba(255, 255, 255, 0.299);
    background: linear-gradient(
        to right, #8015ea79, #9944ee89, #ea15ea84);
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.7s;
}

.skillBox:hover{
    background: linear-gradient(
        to right, #8015EA, #9944eed2, #ea15eae1);
    transform: scale(0.95);
}

.skillIcon{
    filter:brightness(0) invert(1);
    border-radius: 0;
    height: 10vh;
}

.skillTitle{
    color: white;
    font-size: large;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 786px){
    .skillIcon{
        height: 10vh;
    }
}