.skillgrid{
    margin-top: 3em;
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding-bottom: 2em;
}

@media screen and (max-width: 786px){
    .skillgrid{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 3vh;
        width: 95%;
        margin-left: 2.5%;
    }
}
