@media screen and (max-width: 786px){
    .header{
        color: #8015EA;
        font-size: 30px;
        width: 90%;
        font-weight: 600;
        text-align: center;
    }
}

@media screen and (min-width: 786px){
    .header{
        color: #8015EA;
        font-size: 54px;
        font-weight: 600;
        text-align: center;
    }
}