@media screen and (max-width: 786px){
    .link_bar{
        height: 100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .img{
        height: 2em;
        filter:brightness(0) invert(0.7);
    }
}

@media screen and (min-width: 786px){
    .link_bar{
        height: 100%;
        width:50%;
        margin-left: 25%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .img{
        height: 2em;
        filter:brightness(0) invert(0.7);
    }

    .img:hover{
        filter: invert(1);
    }
}

a:focus {
    outline: none;
}