.pop_over{
    background-color: #1b1b1be5;
    height: 100vh;
    z-index: 1000000;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover_body{
    overflow-y: scroll;
    height: 99vh;
    width: 50vw;
    border-radius: 12px;
    background-color: rgb(7, 7, 7);
}

.project_img{
    height: 100%;
    width: 100%;
}

.popover_header{
    color: white;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    font-size: x-large;
}

.img_reel_container{
    height: 100%;
    width: 100%;
    
}

.text{
    padding-top: 2em;
    color: rgba(255, 255, 255, 0.836);
    margin-left: 2em;
    font-size: x-large;
    width: 80%; 
}


@media screen and (max-width: 1023px) {

    
    .text{
        padding-top: 2em;
        color: rgba(255, 255, 255, 0.836);
        margin-left: 2em;
        font-size: x-large;
        width: 80%; 
        margin-bottom: 2em;
    }
    .popover_body{
        height: 90vh;
        width: 90vw;
        background-color: #1b1b1b;
    }

    .project_img{
        height: 30vh;
        width: 100%;
        background-size: contain;
    }

    .popover_header{
        color: #1b1b1b;
        padding: 1em;
        width: 90%;
        font-size: large;
    }
}