.container{
    height: 100%;
}

.project_grid{
    height: 100%;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 1em;
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2,1fr);
}

.blog_container{
    grid-column: 1/3;
}

.line{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1em;
    opacity: 0.4;
}

.album_container{
    grid-column: 1/3;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    margin-bottom: 2em;
}

@media screen and (max-width: 1023px) {
.project_grid{
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    margin-top: 2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.blogs{
    display: flex;
    flex-direction: column;
    width: 88vw;
}
}