@media screen and (max-width:1024px){
    .heading{
        color: rgba(255, 255, 255, 0.4);
        font-size: large;
        width: 80%;
        text-align: center;
        margin-top: 1.5em;
        line-height: 1.2em;
    }
}

@media screen and (min-width: 1024px){
    .heading{
        color: rgba(255, 255, 255, 0.4);
        font-size: larger;
        width: 60%;
        text-align: center;
        margin-top: 1.5em;
        line-height: 1.4em;
    }
}